<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body class="z">
<h1 class="a">eMobilis Coding School</h1>
<a href="index.html"><button class="b">Home</button></a>
<a href="about.html"><button class="c">About</button></a>
<a href="gallery.html"><button class="d">Gallery</button></a>
<a href="register.html"><button class="e">Register</button></a>
<a href="login.html"><button class="f">Login</button></a>
<hr class="g">
<h3 class="h">Principals remarks</h3>
<p class="i">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi explicabo iure nemo placeat re
    prehenderit sint? Ab aperiam dolorum, eos excepturi explicabo facere iure laborum ma
    iores minus, optio quo sequi.</p>
<p class="j">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto at obcae
    cati officia, omnis reiciendis. Ab architecto, corporis delectus dignissimos ea facilis hic inventore labore, laborum magnam minima obc
    aecati quidem?</p>
<h3 class="k">Deputy principals remarks</h3>
<p class="l">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio dolore facere, fugiat quo similique voluptates. Harum in maiores nihil obcaecati odit officiis porro quo tempor
    ibus velit vitae, voluptas voluptate!</p>
<p class="m">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur deleniti, dolor dolore odio omnis veniam? Assumenda atque delectus dolorum eaque eligendi ess
    e inventore minus nisi rem temporibus unde, voluptas.</p>
<h3 class="n">Senior masters remarks</h3>
<p class="o">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus esse, et excepturi, exercitationem facere harum illo iste numquam obcaecati odio possimus recusandae rer
    um sint sunt. Quae rerum soluta vero.</p>
<p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dicta dolor dolores, enim impedit ipsum labore laboriosam libero magni minima nemo, non obcaecati pariatur quisqua
    m repellat, rerum suscipit ut? Neque.</p>
</body>
</html>