<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body >
<h1 class="a">eMobilis login page</h1>
<a href="index.html"><button class="b">Home</button></a>
<a href="about.html"><button class="c">About</button></a>
<a href="gallery.html"><button class="d">Gallery</button></a>
<a href="register.html"><button class="e">Register</button></a>
<a href="login.html"><button class="f">Login</button></a>
<hr class="g">
<form class="my-form" action=""><br>
    <input class="my-input" placeholder="Enter email" type="email"><br><br>
    <input class="my-input" placeholder="Enter password" type="password"><br><br>
    <input class="my-btn" value="login" type="submit"><br><br>
</form>

</body>
</html>